/*
  HTML5 ✰ Boilerplate

  style.css contains a reset, font normalization and some base styles.

  credit is left where credit is due.
  much inspiration was taken from these projects:
	yui.yahooapis.com/2.8.1/build/base/base.css
	camendesign.com/design/
	praegnanz.de/weblog/htmlcssjs-kickstart
*/

/*
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer,.header-container, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

article, aside, details, figcaption, figure,
footer,.header-container, hgroup, menu, nav, section {
	display:block;
}

nav ul { list-style:none;}

blockquote, q { quotes:none;}

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none;}

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent;}

ins { background-color:#ff9; color:#000; text-decoration:none;}

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold;}

del { text-decoration: line-through;}

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help;}

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0;}

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0;}

input, select { vertical-align:middle;}

/* END RESET CSS */


/* fonts.css from the YUI Library: developer.yahoo.com/yui/
	Refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages

  There are three custom edits:
	* remove arial, helvetica from explicit font stack
	* we normalize monospace styles ourselves
	* table font-size is reset in the HTML5 reset above so there is no need to repeat
*/
body { font: 1.0em sans-serif; *font-size:small;} /* hack retained to preserve specificity */

select, input, textarea, button { font:99% sans-serif;}

/* normalize monospace sizing
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp { font-family: monospace, sans-serif; font-weight: normal; }


/*
 * minimal base styles
 */


body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #ADC8C5;
  /* set your base font here, to apply evenly */
	font-family: Verdana, serif;
}

/*.header-containers (h1,h2,etc) have no default font-size or margin,
	you'll want to define those yourself. */
h1,h2,h3,h4,h5,h6 { font-weight: bold;}

/* always force a scrollbar in non-IE */
html { overflow-y: scroll;}


/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none;}

a, a:active, a:visited { color: #607890;}
a:hover { color: #036;}


ul, ol { margin-left: 1.8em;}
ol { list-style-type: decimal;}

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0;}

small { font-size: 85%;}
strong, th { font-weight: bold;}

td, td img { vertical-align: top;}

sub { vertical-align: sub; font-size: smaller;}
sup { vertical-align: super; font-size: smaller;}

p { font-size: 0.8em; }

pre {
  padding: 15px;

  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}

textarea { overflow: auto;} /* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px;} /* thnx ivannikolic! */

/* align checkboxes, radios, text inputs with their label
	by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom;}
input[type="checkbox"] { vertical-align: bottom;}
.ie7 input[type="checkbox"] { vertical-align: baseline;}
.ie6 input { vertical-align: text-bottom;}

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer;}

/* webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0;}

/* colors for form validity */
input:valid, textarea:valid	{ }
input:invalid, textarea:invalid {
	  border-radius: 1px;
	-moz-box-shadow: 0px 0px 5px red;
 -webkit-box-shadow: 0px 0px 5px red;
		 box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd;}


/* These selection declarations have to be separate.
	No text-shadow: twitter.com/miketaylr/status/12228805301
	Also: hot pink. */
::-moz-selection{ background: #b8da24; color:#fff; text-shadow: none;}
::selection { background:#b8da24; color:#fff; text-shadow: none;}

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99;}

/* make buttons play nice in IE:
	www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible;}

/* bicubic resizing for non-native sized IMG:
	code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic;}



/*
 * Non-semantic helper classes
 */

/* for image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr;}

/* Hide for both screenreaders and browsers
	css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden;}

/* Hide only visually, but have it available for screenreaders
	www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden;}

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;
}

.clearfix:after { clear: both;}
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1;}






 /* Primary Styles
	Author: Paul Dragoonis
 */

h1, h2 {
	color: #FFF;
	font-family: "Arvo", "Verdana";
	font-weight: normal;
}

body {
	text-align: left;
	background: url(../images/bg-body-bg.png) repeat;
}

#wrapper {
	margin: 0 auto;
}

h3, p { text-align: left; }

#header {
	width: 100%;
	text-align: center;
	background: url(../images/bg-header-bg.png);
}

.header-container {
	width: 1000px;
	height: 70px;
	position: relative;
	margin: 0 auto;
	background: url(../images/bg-header-bg.png) repeat;
}

.header-container .header-left {
	width: 10px; height: 70px; background: url(../images/bg-header-shadow.png) repeat-y;
}

.header-container .header-middle {
	width: 980px;
	height: 70px;
	background: url(../images/bg-header-page.png) repeat;
	text-align:right;
	position: relative;
}

.header-container .header-middle nav {
	position: absolute;
	left: 280px;
	top: 39px;
}

.header-container .header-middle nav div {
	float: left;
	position: relative;
	margin-left: 12px;
	padding: 5px 15px 5px 15px;
	background-color: #222324;
	height: 22px;
}

.header-container .header-middle nav .downloads {
	width: 100px;
	margin-left: 0;	
	text-align: center;
}

.header-container .header-middle nav .downloads div.active {
	width: 130px;
}

.header-container .header-middle nav .docs {
	width: 131px;
	text-align: center;
}

.header-container .header-middle nav .community {
	width: 108px;
	text-align: center;
}

.header-container .header-middle nav .community div.active {
	width: 138px;
}

.header-container .header-middle nav div div.active {
	margin-left: 0;
	font-size: 0;
	position: absolute;
	top: -10px;
	padding: 0;
	left: 0;
	float: none;
	height: 10px;
	background: url(../images/bg-header-border-page.png) repeat-x;
}

.header-container .header-middle nav div a {
	color: #FFF;
	text-decoration: none;
	font-family: "Arvo", "Verdana";
	font-weight: normal;
	font-size: 0.8em;
}

.header-container .header-middle nav div a.active {
	color: #b7da25;
}

.header-container .header-middle nav div a:hover {
	color: #b7da25;
}

.header-container .header-middle .news-item {
	font-size:12px;
	color:#607890;
	margin: 45px 30px 0 0;
}
.header-container .header-middle .news-item a {
	text-decoration:none;
}
.header-container .header-middle img {
	top: 10px; left: 30px;
}
.header-container .header-middle .news-item img {
	position:relative;
	margin-right:5px;
	top:4px;
	left: 0;
}

.header-container .header-right {
	width: 10px; height: 70px; background: url(../images/bg-header-shadow.png) repeat-y;
}

.header-separator {
	height: 10px; background: url(../images/bg-header-border-page.png)
}

.header-separator .green-1 {
	height: 10px; width: 150px; background: url(../images/bg-header-border-bg.png) repeat-x;
}

.header-separator .green-2 {
	width: 10px; height: 10px; background: url(../images/bg-header-border-shadow.png);
}

.header-separator .green-3 {
	height: 10px; width: 980px; background: url(../images/bg-header-border-page.png);
	line-height: 10px;
	color:#000;
}

.header-separator .green-4 {
	width: 10px; height: 10px; background: url(../images/bg-header-border-shadow.png);
}

section.main-content-container {
	margin-top: -10px;
	height: 500px;
}



.fl { float: left;}
.fr { float: right;}
.clear { clear: both;}
.abs { position: absolute;}
.rel { position: relative;}

.main-content-left {
	width: 10px;
	height: 100%;
	background: url(../images/bg-body-shadow.png) repeat-y;
}

.main-content-container-inner {
	width: 1000px;
	margin: 0px auto;
	height: 100%;
	background: url(../images/bg-body-shadow.png) repeat-y;
}

.main-content {
	padding-top: 20px;
	width: 1000px;
	background-color: #222324;
}

.main-content .item-container {
	margin-bottom: 12px;
}

.main-content .item {
	float: left;
	height: 160px;
	width: 430px;
}

.main-content .item .item-content {
	float: left;
	width: 345px;
	height: 159px;
}

.main-content .item .item-content a {
	color: #ECF1EF;
	text-decoration: none;
}

.main-content div.community, .main-content div.about, .main-content div.development {
	width: 470px;
}

.main-content div.download, .main-content div.documentation, .main-content div.github {
	margin: 0 0 0 34px;
}

.main-content div.item img {
	float: left;
	margin-bottom: 21px;
	margin-right: 20px;
}

.main-content div.item h3 {
	margin-bottom: 15px;
	font-size: 17px;
	font-weight: bold;
	letter-spacing: 2px;
}

.main-content:last-child {
	margin-bottom: 0;
}

.main-content div.about {
	margin: 0 0 0 30px;
}
.main-content div.about img {
	margin-top: 20px;
	margin-left: 30px;
	margin-right: 32px;
}

.main-content div.download img {
	margin-top: 30px;
	margin-left: 13px;
	margin-right: 30px;
}

.main-content div.community {
	margin: 0 0 0 30px;
}

.main-content div.community img {
	margin-top: 10px;
}

.main-content div.documentation img {
	margin-top: 31px;
	margin-left: 7px;
	margin-right: 25px;
}

.main-content div.development {
	margin: 0 0 0 30px;
}

.main-content div.development img {
	margin-top: 20px;
	margin-right: 43px;
}

.main-content div.github img {
	margin-top: 20px;
	margin-right: 23px;
}

.main-content .download ul.downloads-list {
	margin-top: 5px;
	margin-left: 0;
	list-style-type: none;
}
.main-content .download ul.downloads-list li {
	font-size: 0.8em;
	text-align: left;
	padding-bottom: 5px;
}

@font-face {
	font-family: Arvo;
	src: url('fonts/arvo-regular.ttf');
}

.gplusone-container {
	position: absolute;
	top: 4px;
	right: -10px;
}

.facebooklike-container {
	position: absolute;
	top: 27px;
	right: 2px;
}

.twitterlike-contaner {
	position: absolute;
	bottom: -3px;
	right: 0px;
}

.grey-button {
	height: 17px;
	width: auto;
	padding: 5px;
	color: #A2A2A2;
	/* Safari 4+, Chrome 1-9 */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#464648), to(#313131));

	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -webkit-linear-gradient(top, #464648, #313131);

	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(top, #464648, #313131);

	/* IE 10+ */
	background-image: -ms-linear-gradient(top, #464648, #313131);

	/* Opera 11.10+ */
	background-image: -o-linear-gradient(top, #464648, #313131);
}

.content-box {
	padding-top: 15px; padding-bottom: 15px;
	padding-left: 20px; padding-right: 20px;

	background-color: #292b2a;
	border: 1px solid #18191b;
	-moz-box-shadow: 2px 2px 3px #000;
	-webkit-box-shadow: 2px 2px 3px #000;
	box-shadow: 2px 2px 3px #000;
	margin-bottom: 12px;
}

/*
 * Media queries for responsive design
 * These follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */

}

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */

}

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)
	Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
	/*
@media screen and (max-device-width: 480px) {
*/

  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you
	 j.mp/textsizeadjust
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none;} */

/*
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important;}
  a, a:visited { color: #444 !important; text-decoration: underline;}
  a:after { content: " (" attr(href) ")";}
  abbr:after { content: " (" attr(title) ")";}
  .ir a:after { content: "";}  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid;}
  thead { display: table-header-group;} /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid;}
@page { margin: 0.5cm;}
  p, h2, h3 { orphans: 3; widows: 3;}
  h2, h3{ page-break-after: avoid;}
}

/*
header div { border: 1px solid red;}

section div { border: 1px solid red;}
*/
/*
 *
 * Clearfix elements
 *
 */

 /* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.main-content .item-container:before, .main-content .item-container:after,
.header-container:before, .header-container:after,
.header-separator:before, .header-separator:after,
.main-content-container-inner:before, .main-content-container-inner:after,
.header-container nav:before, .header-container nav:after,
.item-container:before, .item-container:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;
}

.main-content .item-container:after,
.header-container:after,
.header-separator:after,
.header-container nav:after,
.main-content-container-inner:after,
.item-container:after {
	clear: both;
}
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.header-containe.main-content .item-container.header-container,
.header-separator,
.main-content-container-inner,
.header-container nav,
.item-container {
	zoom: 1;
}
