.topcontent {
	font-size: 0.8em;

}

.topcontent .filter {
    float: left;
}

.topcontent .backtohomepage {
    width: 130px;
    position: absolute;
	top: 20px;
	right: 20px;
}

.topcontent .backtohomepage .back-to-homepage {
	width: 130px;
	color: #FFF;
	display: block;
	font-family: "Arvo", "Verdana";
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.8em;
	text-align: center;
}

.downloads-container .page-header .back-to-homepage:hover {
	color: #FFF;
}

.topcontent a {
    color: #b7da25;
    text-decoration: none;
}

.topcontent a:hover {
    color: #8aa51b;
}

.community-page .feeds img.twitter {
	margin-left: 8px;
	margin-right: 9px;
}

.community-page .feeds .feed .content .actions .social {
	padding-left: 12px;
    border-left:1px solid #CCC;
    overflow:hidden;
    height:30px;
    margin-top:4px;
}
.community-page .feeds .feed .content .actions {
	width: 89px;
	float: right;
}
.community-page .feeds .feed {
	margin-bottom: 12px;
}
.community-page h1 {
	font-size: 1.5em;
	margin-bottom: 12px;
}

.community-page .content-box {
    width: 700px;
	position: relative;
    float: left;
}

.community-page {
	margin-right: 12px;
}

.activity-stream .feeds  {
	width: 700px;
	padding: 15px 15px 15px 0;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

.activity-stream .feeds .feed {
	width: 700px;
	margin-bottom:10px;
	margin-top:10px;
}
.activity-stream .feeds .feed .image {
	float:left;
	margin-right: 12px;
	width:50px;
	height:50px;
}
.content {
	background:#FFF;
	min-height:50px;
	overflow:hidden;
	border:2px solid #83a22d;
}
.description {
	width:520px;
	float:left;
	padding:5px;
	min-height:50px;
    color: #444444;
	font-size: 0.9em;
}
.actions .readmore {
	color:#323f0c;
	display: block;
	height: 19px;
	padding-top: 5px;
	font-size: 0.8em;
	overflow:hidden;
	background:#b5db3a;
	padding-left:15px;
	text-decoration:none;
}

.actions .readmore:hover {
    color: #323f0c;
}

/* LEFT SIDE */

.community-page .left-side {
	float: left;
	width: 200px;
	margin-right: 12px;
	padding-left: 12px;
}

.community-page .left-side .titlebox {
    height: 90px;
}

.community-page .left-side .titlebox .image {
    width: 70px;
    float: left;
}

.community-page .left-side .titlebox .text {
    width: 80px;
    float: left;
    padding: 20px 0 0 0;
    font-weight: bold;
    color: #fff;
}

.community-page .left-side .elements .singlebox a {
    display: block;
    background: url(../images/community/sb-bgelement.png) no-repeat;
    height: 30px;
    width: 199px;
    margin-bottom: 5px;
    color: #000;
    padding: 7px 0 0 20px;
    font-weight: bold;
    font-size: 10pt;
    text-decoration: none;
}

.community-page .left-side .elements .box {
    background: url(../images/community/sb-bgbox.png) no-repeat;
    width: 199px;
    height: 120px;
    color: #000;
    font-size: 10pt;
}

.community-page .left-side .elements .newsletter-box {
	margin-top: 12px;
}
.community-page .left-side .elements .box .newsletter-button {
	margin: 10px 0 0 43px;
	display: block;
}
.community-page .left-side .elements .box .box-title {
	font-size: 1.1em;
	font-family: Arvo, Verdana;
    color: #000;
    font-weight: bold;
    padding: 8px 0 0 15px;
	margin-bottom: 12px;
}

.community-page .left-side .elements .box .irc-button {
	margin: 12px 0 0 30px;
	display: block;
}
.community-page .left-side .elements .box .irc-details {
	font-size: 0.9em;
}

.community-page .left-side .elements .box p {
    padding: 2px 0 0 15px;
}

.community-page .left-side .elements .box .form {
    padding: 10px;
}

.community-page .left-side .elements .box .form input {
    width: 125px;
}

.community-page .left-side .elements .box .form p {
    text-align: right;
    margin: 0;
    padding: 0;
}

/* END LEFT SIDE */