@charset "utf-8";

.contributors-container {
	height: auto;
	width: 915px;
	margin-left: 20px;
}

.contributors-container .page-header {
	margin-bottom: 12px;
}

.contributors-container .page-header h1 {
	text-shadow: 1px 1px 1px #2F0909;
	color: #FFF;
	font-size: 1.4em;
}

.contributors-container .page-header .back-to-homepage {
	width: 160px;
	color: #FFF;
	display: block;
	font-family: "Arvo", "Verdana";
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.8em;
	text-align: center;
}

.contributors-container .page-header .back-to-homepage:hover {
	color: #FFF;
}

.contributors-container .contributors-item-container {

}

.contributors-container .contributors-item {
	background-color: #FFF;
	border: 1px solid #78a554;
	margin-bottom: 20px;
	min-height: 50px;
}

.contributors-container .contributors-item .desc {
	margin:  0 12px 12px 12px;
	color: #000;
}

.contributors-container .contributors-item .header {
	padding: 12px;
    height: 30px;
}

.contributors-container .contributors-item .header .logo {
	margin-right: 12px;
	height: 35px;
	margin-bottom: 12px;
}

.contributors-container .contributors-item .header .project-title {
	color: #000;
	font-size: 1.0em;
	text-align: left;
}

.contributors-container .contributors-item .header .project-shortdesc {
	text-align: left;
	font-size: 0.8em;
	color: #000;
	font-style: italic;
}

.contributors-container .contributors-item .header .contributor-links {
	margin-top: 12px;
}

.contributors-container .contributors-item .header .contributor-links .link {
	padding: 0 15px 0 0;

}

.contributors-container .contributors-item .header .contributor-links .link a {
	color: #616D2F;
	text-decoration: none;
	font-size: 0.8em;
}

.contributors-container .contributors-item .header .contributor-links .link a:hover {
	text-decoration: underline;
}

.contributors-container .contributors-item .header .contributor-links .link:first-child {
	border-left: none;
}

.contributors-container .contributors-item .links a {
	color: #616D2F;
	text-decoration: none;
	font-size: 0.8em;
}
.contributors-container .contributors-item .links {
	float: right;
	width: 150px;
	height: 20px;
	text-align: right;
	margin-top: 7px;
}

.contributors-container .contributors-item .committer {
    padding: 5px;
}

.contributors-container .contributors-item .committer a {
	color: #616D2F;
	text-decoration: none;
	font-size: 0.8em;
}
.contributors-container .contributors-item .committer p {
	color: #000;
	font-size: 0.75em;
}

.contributors-container .contributors-item .committer p.name {
	font-weight: bold;
}

.contributors-container .contributors-item .committers {
	display: none;
	margin-left: 40px;
	margin-bottom: 12px;
}

