.downloads-container {
	height: auto;
	width: 915px;
	margin-left: 20px;
}

.downloads-container .page-header {
	margin-bottom: 12px;
}

.downloads-container .page-header h1 {
	text-shadow: 1px 1px 1px #2F0909;
	color: #FFF;
	font-size: 1.4em;
}

.downloads-container .page-header .back-to-homepage {
	width: 160px;
	color: #FFF;
	display: block;
	font-family: "Arvo", "Verdana";
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.8em;
	text-align: center;
}

.downloads-container .page-header .back-to-homepage:hover {
	color: #FFF;
}

.downloads-container .downloads-item-container {

}

.downloads-container .downloads-item {
	background-color: #FFF;
	border: 1px solid #78a554;
	margin-bottom: 20px;
}

.downloads-container .downloads-item .desc {
	margin:  0 12px 12px 12px;
	color: #000;
}

.downloads-container .downloads-item .header {
	padding: 12px 12px 0 12px;
}

.downloads-container .downloads-item .header .logo {
	margin-right: 12px;
	height: 35px;
	margin-bottom: 12px;
}

.downloads-container .downloads-item .header .project-title {
	color: #000;
	font-size: 1.0em;
	text-align: left;
}

.downloads-container .downloads-item .header .project-shortdesc {
	text-align: left;
	font-size: 0.8em;
	color: #000;
	font-style: italic;
}

.downloads-container .downloads-item .header .download-links {
	margin-top: 12px;
}

.downloads-container .downloads-item .header .download-links .link {
	padding: 0 15px 0 0;

}

.downloads-container .downloads-item .header .download-links .link a {
	color: #616D2F;
	text-decoration: none;
	font-size: 0.8em;
}

.downloads-container .downloads-item .header .download-links .link a:hover {
	text-decoration: underline;
}

.downloads-container .downloads-item .header .download-links .link:first-child {
	border-left: none;
}




