#login-form .password {
}
#login-form .username {
	margin: 0 25px 0 0;
}

#login-form .password input, #login-form .username input {
	width: 215px;
}

#login-form textarea {
	width: 440px;
}

#login-form p.header {
	font-size: 1.3em;
	margin-bottom: 20px;
}
#login-form p.desc {
	font-size: 0.8em;
}
#login-form {
	width: 400px;
	padding: 20px;
	border: 1px solid #CCC;
	margin: 12px auto 12px auto;
}

#login-form-container {
	width: 940px;
	margin-top: 12px;
}

#login-form .submit {
	padding-top: 12px;
}

#login-form .submit a {
	float: right;
	margin-right: 80px;
	margin-top: 2px;
}

#login-form dt {
	width: 70px;
	margin-top: 12px;
}