
.signup-form .submit input {
	margin-top: 12px;
}

.signup-form p.desc {
	font-size: 0.8em;
}

.signup-form p.header {
	font-size: 1.3em;
	margin-bottom: 20px;
}

.signup-form .errored {
	border: 1px solid #FF8973;
}
.signup-form input[type="text"], .signup-form input[type="password"] {
	width: 215px;
}


.signup-form .fname, .signup-form .email, .signup-form .password {
	margin-right: 12px;
}

#signup-form {
	width: 415px;
	height: 350px;
	margin: 0 auto;
}

.signup-form {
	width:450px;
}

.signup-form p {
	font-size: 1.0em;
	color: #000;
	margin-top: 12px;
	margin-bottom: 5px;
}

.signup-form dd {
}

.signup-form dt {
	width: 130px;
	margin-top: 12px;
}

#form-signup .register-error-email-already-exists {
	float: left;
	margin-top: 11px;
}

#form-signup .register-error-email-already-exists a {
	display: none;
}

