.content-box {
	width: 933px;
	padding: 15px;
	border: 1px solid #9F9F9F;
	background: #F8F8F8;
	border-bottom: 1px solid black;
	border-image: initial;
}

.content-box .api-list li a:hover {
	background-color: #406C6C;
	color: white;
}
.content-box .api-list li a {
	color: #406C6C;
	padding: 12px;
	display: block;
}
.content-box .api-list li {
	height: 50px;
}
.content-box .api-list {
	list-style-type: none;
}