.docs-page p {
	font-size: 1.1em;
	font-weight: normal;
}

.docs-page {
	margin-top: 30px;
}

.docs-page .toc ul {
	list-style-type: none;
	margin-left: 0px;
}

.docs-page .toc {
	float: right;
	padding: 12px;
	margin: 12px;
	width: 200px;
	background-color: #AFD0D0;
}

.docs-page .toc .heading {
	font-family: "Museo_Slab_500";
	font-size: 1.3em;
}

.docs-page code {
	line-height: 22px;
	background-color: transparent;
}