
.clear { clear: both; }

@font-face {
	font-family: 'Museo_Slab_500';
	src: url('fonts/Museo_Slab_500.ttf') format('truetype');
}

#wrapper {
	margin: 0 auto;
}

#header {
	width: 100%;
	text-align: center;
	background-color: #406C6C;
	position: relative;
	height: 40px;
}
#header #header-inner .logo {
	display: block;
	width: 50px;
	margin-top: 2px;
	position: absolute;
	left: 0;
	top: 0;
}
#header #header-inner {
	width: 1024px;
	height: 40px;
	position: relative;
	margin: 0 auto;
}
#header nav {
	position: absolute;
	left: 60px;
	top: 0;
}
#header nav li:first-child {
	margin-left: 0;
}
#header nav ul {
	list-style-type: none;
}

#header nav li a:hover {
	color: white;
	background-color: #345958;
	text-decoration: none;
}
#header nav li a {
	color: #E1E1E1;
	display: block;
	height: 29px;
	padding-top: 11px;
	padding-left: 5px;
	padding-right: 5px;
	
}
#header nav li {
	float: left;
}

#header .search input {
	height: 29px;
	width: 250px;
}
#header .search {
	position: absolute;
	left: 470px;
	top: 5px;
}

#header .social .item {
	float: left;
}
#header .social {
	margin-top: 2px;
	position: absolute;
	left: 756px;
	top: 5px;
}
#page-content {
	width: 1024px;
	margin: 0 auto;
}

footer a {
	color: #E5E5DD;
}
footer .links a:hover {
	color: white;
}
footer .links a {
	margin-right: 12px;
}
footer .content {
	margin-left: 12px;
}
footer .links {
	float: left;
}
footer .desc {
	color: #E5E5DD;
	margin-top: 5px;
}
footer .logo {
	float: left;
}
footer {
	padding-left: 30px;
	padding-top: 16px;
	height: 60px;
	width: 967px;
	margin: 0;
	border-top: 1px solid #757575;
	background-color: #626262;
	
}