
.clear { clear: both; }

@font-face {
	font-family: '';
	src: url('fonts/Museo_Slab_500.ttf') format('truetype');
}


@font-face {
	font-family: "Museo_Slab_500";
	src: url('../fonts/Museo_Slab_500-webfont.eot?'); /* IE9 */
 	src: url('../fonts/Museo_Slab_500-webfont.eot?') format('eot'), /* IE6-8 */
 	     url('../fonts/Museo_Slab_500-webfont.woff') format('woff'), /* Modern browsers */
	     url('../fonts/Museo_Slab_500-webfont.ttf') format('truetype'), /* Older Webkits */
	     url('../fonts/Museo_Slab_500-webfont.svg#webfont') format('svg'); /* Opera */
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: "Bebas Neue";
	src: url('../fonts/BebasNeue-webfont.eot?'); /* IE9 */
 	src: url('../fonts/BebasNeue-webfont.eot?') format('eot'), /* IE6-8 */
 	     url('../fonts/BebasNeue-webfont.woff') format('woff'), /* Modern browsers */
	     url('../fonts/BebasNeue-webfont.ttf') format('truetype'), /* Older Webkits */
	     url('../fonts/BebasNeue-webfont.svg#webfont') format('svg'); /* Opera */
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'FertigoProRegular';
	src: url('../fonts/fertigo-pro-webfont.eot');
	src: url('../fonts/fertigo-pro-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/fertigo-pro-webfont.woff') format('woff'),
		 url('../fonts/fertigo-pro-webfont.ttf') format('truetype'),
		 url('../fonts/fertigo-pro-webfont.svg#FertigoProRegular') format('svg');
	font-weight: normal;
	font-style: normal;

}


a, p {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Lucida, Arial, Helvetica, sans-serif;
}

#wrapper {
	margin: 0 auto;
}

body {
    background: url(../../images/bg.png);
}

#header {
	width: 1024px;
	margin: 0 auto;
}

#header .navbar-inner .container {
	width: 985px;
	margin: 0 auto;
}

#header #header-inner .logo {
	display: block;
	width: 50px;
	margin-top: 2px;
	position: absolute;
	left: 0;
	top: 0;
}

#header .container .nav li a[title="Community"] {
	width: 70px;
}
#header .container .nav li a[title="Projects"] {
	width: 50px;	
}

#header .container {
	width: !important;
	margin-left: 20px;
}

#header div.navbar-inner {
	background-color: #406C6C;
	background-image: none;

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#406c6c', endColorstr='#284545'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#406c6c), to(#284545)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #406c6c,  #284545); /* for firefox 3.6+ */
	border-bottom: 1px solid #000;
}

#header .dropdown-menu {
	margin-top: 1px;
	background-color: #406C6C;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#406c6c', endColorstr='#284545'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#406c6c), to(#284545)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #406c6c,  #284545); /* for firefox 3.6+ */
	border-bottom: 1px solid #000;
}

#header a {
	height: 20px;
	color: white;
    font-family: 'FertigoProRegular','Helvetica Neue',Helvetica,Arial,serif;
}

#header .dropdown-menu li a:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#192b2b', endColorstr='#0d1616'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#192b2b), to(#0d1616)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #192b2b,  #0d1616); /* for firefox 3.6+ */
}

#header #header-inner {
	width: 1024px;
	height: 40px;
	position: relative;
	margin: 0 auto;
}

#header .nav li a:hover {
	color: white;
	background-color: #345958;
	text-decoration: none;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#284545', endColorstr='#406c6c'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#284545), to(#406c6c)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #284545,  #406c6c); /* for firefox 3.6+ */

}

#header .search input {
	width: 281px;
	height: 23px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a7d7d', endColorstr='#589595'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#4a7d7d), to(#589595)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #4a7d7d,  #589595); /* for firefox 3.6+ */
}

#header .nav {
	width: 550px;
}

#header .search {
	margin-left: 0;
	width: 300px;
	float: left;
}

#header .social .item {
	float: left;
}
#header .social {
	margin-top: 2px;
	position: absolute;
	left: 756px;
	top: 5px;
}
#page-content {
	padding-top: 60px;
	margin: 0 auto;
}

footer a {
	color: #E5E5DD;
}
footer .links a:hover {
	color: white;
}
footer .links a {
	margin-right: 12px;
}
footer .content {
	margin-left: 12px;
}
footer .links {
	float: left;
}
footer .desc {
	color: #E5E5DD;
	margin-top: 5px;
}
footer .logo {
	float: left;
}
footer {
	padding-left: 30px;
	padding-top: 16px;
	height: 60px;
	margin: 0;
	border-top: 1px solid #757575;
	background-color: #626262;

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#626262', endColorstr='#3e3e3e'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#626262), to(#3e3e3e)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #626262,  #3e3e3e); /* for firefox 3.6+ */

	border-bottom: 1px solid #000;

    z-index: 10000;
}


.ui-loader {
	display: none;
}
