#wrapper {
	
}

#page-content .top .intro .buttons a {
	font-size: 1.2em;
	font-family: 'FertigoProRegular','Helvetica Neue',Helvetica,Arial,serif;
	
}
#page-content .top .intro .buttons {
	width: 345px;
	margin: 20px auto 0 auto;
}
#page-content .top .intro .desc {
	font-size: 1.2em;
	line-height: 22px;
	margin-top: 20px;
	text-align: center;
	font-family: 'FertigoProRegular','Helvetica Neue',Helvetica,Arial,serif;

}
#page-content .top .intro .heading {
	font-size: 2.7em;
	color: #406C6C;
	text-align: center;
	font-family: 'FertigoProRegular','Helvetica Neue',Helvetica,Arial,serif;
}

#page-content .top .intro {
	width: 700px;
	height: 200px;
	margin: 0px auto -1px auto;
	padding: 20px 12px 12px 20px;
	height: 202px;
	background-color: #F9F9F0;
	z-index: 10;
	font-family: 'FertigoProRegular','Helvetica Neue',Helvetica,Arial,serif;
	border: 1px solid #E5E5E5;
	border-bottom: none;
}

#page-content .top .get-ppi-now .icon {
	display: block;
	height: 30px;
	width: 105px;
	font-size: 1.5em;
	font-family: 'FertigoProRegular','Helvetica Neue',Helvetica,Arial,serif;
	padding-top: 15px;
	position: absolute;
	left: 63px;
	top: 28px;
}

#page-content .top .get-ppi-now .list a {
	color: #4C7F7F;
	font-size: 1.3em;
	font-family: 'FertigoProRegular','Helvetica Neue',Helvetica,Arial,serif;
}
#page-content .top .get-ppi-now .list li:first-child {
	margin-bottom: 5px;
	margin-right: 12px;
}
#page-content .top .get-ppi-now .list li {
	float: left;
}
#page-content .top .get-ppi-now .list {
	list-style-type: none;
	left: 55px;
	top: 120px;
	position: absolute;
}
#page-content .top .get-ppi-now .other a:first-child {
	font-weight: bold;
}
#page-content .top .get-ppi-now .other a {
	color: #6A6A6A;
}
#page-content .top .get-ppi-now .other {
	position: absolute;
	bottom: 32px;
	left: 137px;
}
#page-content .top .get-ppi-now-inner {
	position: relative;
	height: 194px;
}
#page-content .top .get-ppi-now {
	width: 385px; 
	height: 214px;
	position: absolute;
	right: 12px;
	top: 20px;
}
#page-content .top {
	/*background-color: #eaeaea;*/
	position: relative;
	width: 965px;
	margin-bottom: 0px;
	z-index: 1000;
	
}
#page-content .middle .heading {
	font-size: 2.0em;
	position: absolute;
	top: 20px;
	font-family: 'FertigoProRegular','Helvetica Neue',Helvetica,Arial,serif;
	left: 35px;
	color: #4C7F7F;
}
#page-content .middle .list li .desc {
	color: #565656;
	font-size: 0.9em;
	width: 220px;
}
#page-content .middle .list li .icon {
	float: left;
	margin-left: -50px;
}
#page-content .middle .list li .title {
	color: #565656;
	font-size: 1.4em;
	font-family: 'FertigoProRegular','Helvetica Neue',Helvetica,Arial,serif;
	margin-top: 5px;
	margin-bottom: 5px;
	display: block;
}
#page-content .middle .list li {
	float: left;
	width: 245px;
	height: 85px;
	margin-right: 5px;
	padding: 12px 0px 12px 67px;
}
#page-content .middle .list {
	list-style-type: none;
	height: 290px;
	margin-left: 0;
	position: absolute;
	left: 12px;
	top: 50px;
}
#page-content .middle {
	width: 963px;
	background-color: #F9F9F0;
	border: 1px solid #e5e5e5;
	position: relative;
	height: 285px;
}
#page-content .bottom .fork {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 104px;
	height: 104px;
}
#page-content .bottom .list li .icon {
	display: block;
	float: left;
	margin-left: -50px;
	margin-top: -5px;
}
#page-content .bottom .list li .title {
	color: #FFFFFF;
	font-family: 'FertigoProRegular','Helvetica Neue',Helvetica,Arial,serif;
	font-size: 1.3em;
}
#page-content .bottom .list li .desc {
	color: #FFFFFF;
	line-height: 18px;
	font-size: 0.9em;
}
#page-content .bottom .list li {
	width: 167px;
	float: left;
	margin-right: 30px;
	padding: 12px 0px 12px 70px;
}
#page-content .bottom .list {
	position: absolute;
	list-style-type: none;
	margin-left: 0;
	left: 100px;
	top: 60px;
}
#page-content .bottom .header {
	font-size: 2.3em;
	top: 20px;
	font-family: 'FertigoProRegular','Helvetica Neue',Helvetica,Arial,serif;
	color: #FFFFFF;
	left: 110px;
	position: absolute;
}
#page-content .bottom {
	width: 965px;
	height: 180px; 
	position: relative;
	background-color: #406C6C;

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#406C6C', endColorstr='#305050'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#406C6C), to(#305050)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #406C6C,  #305050); /* for firefox 3.6+ */

	border-bottom: 1px solid #202020;
}

#home-page {
	width: 1024px;
	margin: 0 auto;
}