#wrapper {
	background-color: #AFD0D0;
}

#page-content .top .intro .buttons {
	position: absolute;
	bottom: 20px;
	left: 90px;
}
#page-content .top .intro .desc {
	font-size: 1.2em;
	line-height: 22px;
	margin-top: 12px;
}
#page-content .top .intro .heading {
	font-size: 2.0em;
	font-family: "Museo_Slab_500";
	color: #406C6C;
}
#page-content .top .intro {
	border: 1px solid #7b7b7b;
	border-bottom: none;
	width: 470px;
	height: 200px;
	margin-bottom: 0;
	padding: 20px 12px 12px 20px;
	height: 202px;
	position: absolute;
	left: 35px;
	background-color: #F9F9F0;
	top: 20px;
	z-index: 10;
}
#page-content .top .get-ppi-now .heading {
	color: #B63A3A;
	font-size: 1.6em;
	font-weight: bold;
	margin: 20px auto 0 auto;
	font-family: "Museo_Slab_500";
	width: 150px;
}
#page-content .top .get-ppi-now .icon {
	display: block;
	height: 110px;
	width: 100px;
	position: absolute;
	left: 12px;
	top: 50px;
}
#page-content .top .get-ppi-now .list a.framework {
	font-weight: bold;
}
#page-content .top .get-ppi-now .list a {
	color: #4C7F7F;
	font-size: 1.8em;
	font-family: "Museo_Slab_500";
}
#page-content .top .get-ppi-now .list li:first-child {
	margin-bottom: 5px;
}
#page-content .top .get-ppi-now .list {
	list-style-type: none;
	left: 140px;
	top: 60px;
	position: absolute;
}
#page-content .top .get-ppi-now .other a:first-child {
	font-weight: bold;
}
#page-content .top .get-ppi-now .other a {
	color: #6A6A6A;
}
#page-content .top .get-ppi-now .other {
	position: absolute;
	bottom: 60px;
	left: 150px;
}
#page-content .top .get-ppi-now-inner {
	position: relative;
	height: 194px;
}
#page-content .top .get-ppi-now {
	width: 385px; 
	height: 214px;
	position: absolute;
	right: 12px;
	top: 20px;
}
#page-content .top {
	background-color: #AFD0D0;
	position: relative;
	height: 254px;
	width: 965px;
	margin-top: 20px;
}
#page-content .middle .heading {
	font-size: 1.4em;
	font-weight: bold;
	position: absolute;
	top: 20px;
	font-family: "Museo_Slab_500";
	left: 35px;
	color: #4C7F7F;
}
#page-content .middle .list li .desc {
	color: #565656;
	font-size: 0.9em;
	width: 220px;
}
#page-content .middle .list li .icon {
	float: left;
	margin-left: -83px;
	margin-top: -5px;
}
#page-content .middle .list li .title {
	color: #565656;
	font-weight: bold;
	font-size: 1.2em;
	font-family: "Museo_Slab_500";
	margin-bottom: 12px;
	display: block;
}
#page-content .middle .list li {
	float: left;
	width: 212px;
	height: 130px;
	margin-right: 5px;
	margin-bottom: 12px;
	padding: 12px 0px 12px 95px;
}
#page-content .middle .list {
	list-style-type: none;
	height: 330px;
	margin-left: 0;
	position: absolute;
	left: 12px;
	top: 50px;
}
#page-content .middle {
	width: 965px;
	background-color: #F9F9F0;
	position: relative;
	height: 375px;
	border: 1px solid #7b7b7b;
}
#page-content .bottom .fork {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 104px;
	height: 104px;
}
#page-content .bottom .list li .icon {
	display: block;
	float: left;
	margin-left: -70px;
	margin-top: -5px;
}
#page-content .bottom .list li .title {
	color: #FFFFFF;
	font-family: "Museo_Slab_500";
	font-size: 1.3em;
}
#page-content .bottom .list li .desc {
	color: #FFFFFF;
	line-height: 18px;
	font-size: 0.9em;
}
#page-content .bottom .list li {
	width: 167px;
	float: left;
	margin-right: 30px;
	padding: 12px 0px 12px 70px;
}
#page-content .bottom .list {
	position: absolute;
	list-style-type: none;
	margin-left: 0;
	left: 100px;
	top: 60px;
}
#page-content .bottom .header {
	font-size: 2.3em;
	top: 20px;
	font-family: "Museo_Slab_500";
	color: #FFFFFF;
	left: 110px;
	position: absolute;
}
#page-content .bottom {
	width: 967px;
	height: 180px; 
	position: relative;
	background-color: #406C6C;
}