#wrapper {
    margin: 0 auto;
    width: 960px;
}

.projects-page .left-side {
	width: 26.04166666666667%; /* 250 / 960 | RWD */
}
.projects-page .left-side nav li a.first:hover {
	background-color: #ebebeb;
	text-decoration: none;
}
.projects-page .left-side nav li a.first {
	background-color: #F9F9F9;
	display: block;
	font-family: 'Museo_Slab_500';
	height: 30px;
	color: #8E8E8E;
	font-size: 1.2em;
	padding-left: 12px;
	padding-top: 9px;
}
.projects-page .left-side nav li:first-child {
	border-top: 1px solid #C7C7C7
}
.projects-page .left-side nav li.box .title {
	font-size: 1.2em;
	font-family: 'Museo_Slab_500';
}
.projects-page .left-side nav li.box .details a {
	width: 64px;
	color: white;
	height: 18px;
	text-align: center;
	padding-top: 8px;
	padding-left: 10px;
	margin: 0;
}
.projects-page .left-side nav li.box .details {
	font-size: 1.1em;
	height: 40px;
	position: relative;
}
.projects-page .left-side nav li.box input {
	height: 30px;
}
.projects-page .left-side nav li.box.newsletter-box .form #newsletter-email {
	float: left;
	width: 173px;
	margin-left: 12px;
}
.projects-page .left-side nav li.box.newsletter-box .submit {
	margin-top: 12px;
}
.projects-page .left-side nav li.box.newsletter-box .form p {
	float: left;
	margin-top: 7px;
}
.projects-page .left-side nav li.box {
	background-color: #F9F9F9;
	padding-left: 12px;
	height: 120px;
	padding-top: 5px;
}
.projects-page .left-side nav li {
	border: 1px solid #C7C7C7;
	border-top:  none;
}
.projects-page .left-side nav ul {
	list-style-type: none;
	margin-left: 0;
}
.projects-page .left-side {
	float: left;
	
}
.projects-page {
	margin-top: 20px;
}

.projects-page .content-box .breadcrumb {
	background: none;
	border-radius: 0;
	-webkit-border-radius: none;
	-moz-border-radius: none;
	background-color: white;
	margin-left: -5px;
}
.projects-page .content-box h1 {
	color: #6F6F6F;
	font-size: 2.0em;
	font-family: "Museo_Slab_500"; 
}
.projects-page .content-box .projects-list .project .actions a {
	text-align: center;
	color: white;
	font-size: 0.9em;
	display: block;
	float: left;
	padding-top: 6px;
	width: 100px;
	height: 22px;
}
.projects-page .content-box .projects-list .project .title {
	font-size: 1.3em;
	color: #406C6C;
	margin-bottom: 5px;
	font-family: 'Museo_Slab_500';
}
.projects-page .content-box .projects-list .project .actions {
	top: 0;
	right: 0;
	width: 400px;
	border-radius: 0;
	-webkit-border-radius: none;
	-moz-border-radius: none;
	position: absolute;
	background-color: #518787;
	margin-top: 0;
	border: 0;
	padding: 0;
}

.projects-page .content-box .projects-list .project .actions a:hover {
	background: #477575;
	text-decoration: none;
}

.projects-page .content-box .projects-list .project {
	border: 1px solid #C7C7C7;
	padding: 12px;
	min-height: 75px;
	position: relative;
	margin-bottom: 12px;
	background-color: #FFF;
}
.projects-page .content-box .projects-list {
	
}
.projects-page .content-box {
	float: left;
	width: 71.95833333333333%; /* RWD */
	padding-left: 18px;
	border-left: none;
	position: relative;
}