.search-results li a {
	font-size: 1.1em;
	letter-spacing: 0.75px;
}
.search-results li {
	height: 30px;
}
.search-results {
	list-style-type: none;
	width: 933px;
	padding: 15px;
	border: 1px solid #9f9f9f;
	background: #f8f8f8;
	border-bottom: 1px solid #000;
	margin-left: 0;
}

.search-results .classes-title, .search-results .methods-title {
	font-size: 1.5em;
	font-family: "Museo_Slab_500";
	color: #000000;
}

.search-results .classes-title {
	margin-top: 12px;
}
