.community-page {
	width: 800px;
	margin: 12px auto 12px auto;
}

.community-page.content-box {

	box-shadow: 0 0 10px #BDBDBD;
	background-color: white;
	position: relative;
	width: 776px;
	margin: 12px auto 0 auto;
	padding: 12px;
}

.community-page h1, .community-page h2 {
	color: #406C6C;
	font-size: 2.5em;
	font-family: 'FertigoProRegular','Helvetica Neue',Helvetica,Arial,serif;
	margin: 0 0 12px 0;
}

.community-page ul li {
	font-size: 2.0em;
	line-height: 2.0em;
}
.community-page ul {
	list-style-type: none;
	margin-left: 12px;
}
