/* Font Face */
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(http://themes.googleusercontent.com/static/fonts/droidsans/v3/s-BiyweUPV0v-yRb-cjciL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

#docspage-content {
	width: 90%;
	position: absolute;
	left: 2%;
}

.docs-page {
	position: relative;
	padding-top: 60px;
	margin-bottom: 30px;
}

.docs-page .spacer {
	height: 250px;
	display: none;
}

.docs-page p {
	font-family: 'Droid Sans', "Lucida Grande", "Lucida Sans Unicode", Lucida, Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
}

.docs-page .toc ul {
	list-style-type: none;
	margin-left: 0px;
}

.meny {
	display: none;
	padding: 20px 20px 20px 30px;
	overflow: auto;
	background: #333;
	color: #eee;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

div.toc-mobile {
    width: 23%;
	max-width: 300px;
	height: 100%;
	background-color: #406C6C;
	right: 0px;
	position: fixed;
	display: block;
	z-index: 1;
	padding: 12px; 
	
}

.toc-mobile .heading {
	color: white;
	font-size: 1.5em;
	font-family: 'Droid Sans', "Lucida Grande", "Lucida Sans Unicode", Lucida, Arial, Helvetica, sans-serif;
	margin-bottom: 5px;
}
.toc-mobile .items li a {
	color: white;
	font-family: 'Droid Sans', "Lucida Grande", "Lucida Sans Unicode", Lucida, Arial, Helvetica, sans-serif;
}

.toc-mobile .items li {
	font-size: 1.0em;
}

.toc-mobile .items {
    list-style-type: none;
    margin-left: 5px;
	width: 265px;
	z-index: 100;
}

.toc-mobile .items li {
	margin: 0;
}

.toc-mobile .items li a {
	display: block;
	padding: 5px;
}

.toc-mobile .items li a:hover {
	background-color: #345958;
	text-decoration: none;
}

.toc-mobile .items li.active {
	background-color: #345958;
}

.docs-page code {
	line-height: 22px;
	background-color: transparent;
}

.docs-page h1, .docs-page h2, .docs-page h3 {
	font-family: 'Droid Sans', "Lucida Grande", "Lucida Sans Unicode", Lucida, Arial, Helvetica, sans-serif;
	font-weight: normal;
}

.docs-page .anchor {
	font-size: 0.5em;
}

.docs-page p + h1 {
	margin-top: 20px;
}

.docs-page h1 {
	margin-bottom: 5px;
}

#docspage-content .docs-page section {
	padding: 15px;
	margin-left: 0;
	width: 100%;
	border: 1px solid #9f9f9f;
    position: relative;
	background-color: white;
}

.docs-page section a.next-article i {
	margin-top: 2px;
}
.docs-page section a.next-article.top {
	position: absolute;
	top: 33px;
	right: 16px;
	font-size: 1.2em;
}
.docs-page section a.next-article.bottom {
	position: absolute;
	bottom: 270px;
	right: 18px;
	font-size: 1.2em;
}

.docs-page section a.prev-article i {
	margin-top: 2px;
}

.docs-page section a.prev-article {
	position: absolute;
	bottom: 270px;
	left: 15px;
	font-size: 1.2em;
}

#docspage-content pre {
	padding: 0 0 0 12px;
	margin: 5px 5px 5px 0;
}
#docspage-content code {
	background: none;
	padding: 0;
	margin: 0;
}

#docspage-content pre, #docspage-content code {
	line-height: 15px;
}

p.section-title span {
	margin-left: 12px;
	display: none;
}

p.section-title {
	font-size: 1.3em;
	background-color: #E1EDED;
	color: #244D4D;
	padding: 5px;
	margin-top: 12px;
	font-family: 'Droid Sans', "Lucida Grande", "Lucida Sans Unicode", Lucida, Arial, Helvetica, sans-serif;
}

.docs-page ul li {
	font-family: 'Droid Sans', "Lucida Grande", "Lucida Sans Unicode", Lucida, Arial, Helvetica, sans-serif;
}

.toc-container {
	right: -60px;
	top: 0px;
	display: none;
	/*margin: 12px 180px 0 0;*/
	margin-left: 0 !important;
	position: absolute;
}

#action-content {
	height: 100%;
	min-height: 1000px;
}

#toc-data {
	display: none;
}

#frame-container {
	width: 100%; 
	height: 100%; 
	overflow-y: auto; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

#frame-container iframe {
	width: 77.0%; height: 100%; border: 0; position: absolute;
}

body.docsbase {
	position: relative;
}

.section-subbar {
	-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 1px 5px rgba(50, 50, 50, 0.75);
	background-color: #E1EDED; height:40px; border-bottom: 1px solid #909090; width: 100%; position:fixed; top: 52px; z-index: 999; margin-left: -20px; opacity: 0.8;
}

.section-subbar h1 {
	font-family: 'Droid Sans', "Lucida Grande", "Lucida Sans Unicode", Lucida, Arial, Helvetica, sans-serif;
	margin: 0 0 0 12px;
	padding: 0;
	font-size: 1.8em;
}