* {
	margin: 0;
	padding: 0;
}

html, 
body {
	height: 100%;
	overflow: hidden;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.meny {
	display: none;
	padding: 20px;
	overflow: auto;
	background: #333;
	color: #eee;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}