#wrapper {
	
}

#page-content .top .intro .buttons i {
	margin-top: 3px;
}

#page-content .top .intro .buttons .main-button  {
	margin-right: 12px;
}

#page-content .top .intro .buttons a {
	font-size: 1.2em;
	font-family: 'Droid Sans', "Lucida Grande", "Lucida Sans Unicode", Lucida, Arial, Helvetica, sans-serif;
}

#page-content .top .intro .docs-button {
	position: absolute;
	right: 100px;
	bottom: 0;
}

#page-content .top .intro .github-button {
	position: absolute;
	right: 0;
	bottom: 0;
}

#page-content .top .intro .btn-group {
	position: absolute;
	bottom: 0;
	left: 0;
}
#page-content .top .intro .buttons {
	position: relative;
	width: 400px;
	height: 40px;
	margin: 20px auto 0 auto;
}
#page-content .top .intro .desc {
	font-size: 1.2em;
	line-height: 22px;
	margin: 20px auto 0 auto;
	text-align: center;
	width: 635px;
	font-family: 'Droid Sans', "Lucida Grande", "Lucida Sans Unicode", Lucida, Arial, Helvetica, sans-serif;
}

#page-content .top .intro .heading {
	font-size: 2.7em;
	font-weight: normal;
	color: #406C6C;
	text-align: center;
	font-family: "FertigoProRegular", "Lucida Grande", "Lucida Sans Unicode", Lucida, Arial, Helvetica, sans-serif;
}

#page-content .top .intro {
	width: 931px;
	margin: 0px auto -1px auto;
	padding: 25px 12px 25px 20px;
	z-index: 10;
	font-family: 'Droid Sans', "Lucida Grande", "Lucida Sans Unicode", Lucida, Arial, Helvetica, sans-serif;
	border: 1px solid #E5E5E5;
	border-bottom: none;
	
	background: #ffffff; /* Old browsers */

	background: -moz-linear-gradient(top,  #ffffff 0%, #F9F9F0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#F9F9F0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#F9F9F0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#F9F9F0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#F9F9F0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#F9F9F0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#F9F9F0',GradientType=0 ); /* IE6-9 */

	

}

#page-content .top .get-ppi-now .icon {
	display: block;
	height: 30px;
	width: 105px;
	font-size: 1.5em;
	font-family: 'Droid Sans','Helvetica Neue',Helvetica,Arial,serif;
	padding-top: 15px;
	position: absolute;
	left: 63px;
	top: 28px;
}

#page-content .top .get-ppi-now .list a {
	color: #4C7F7F;
	font-size: 1.3em;
	font-family: 'Droid Sans','Helvetica Neue',Helvetica,Arial,serif;
}
#page-content .top .get-ppi-now .list li:first-child {
	margin-bottom: 5px;
	margin-right: 12px;
}
#page-content .top .get-ppi-now .list li {
	float: left;
}
#page-content .top .get-ppi-now .list {
	list-style-type: none;
	left: 55px;
	top: 120px;
	position: absolute;
}
#page-content .top .get-ppi-now .other a:first-child {
	font-weight: bold;
}
#page-content .top .get-ppi-now .other a {
	color: #6A6A6A;
}
#page-content .top .get-ppi-now .other {
	position: absolute;
	bottom: 32px;
	left: 137px;
}
#page-content .top .get-ppi-now-inner {
	position: relative;
	height: 194px;
}
#page-content .top .get-ppi-now {
	width: 385px; 
	height: 214px;
	position: absolute;
	right: 12px;
	top: 20px;
}
#page-content .top {
	/*background-color: #eaeaea;*/
	position: relative;
	width: 965px;
	z-index: 1000;
	margin: 25px 0 25px 0;
	
}

#page-content .top
{
  	position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
#page-content .top:before, #page-content .top:after
{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
#page-content .top:after
{
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

#page-content .middle .heading {
	font-size: 2.0em;
	position: absolute;
	top: 27px;
	font-family: 'Droid Sans', "Lucida Grande", "Lucida Sans Unicode", Lucida, Arial, Helvetica, sans-serif;
	left: 23px;
	color: #4C7F7F;
}
#page-content .middle .list li .desc {
	color: #565656;
	font-size: 0.9em;
	width: 220px;
}
#page-content .middle .list li .icon {
	float: left;
	margin-left: -61px;
}
#page-content .middle .list li .title {
	color: #565656;
	font-size: 1.4em;
	font-family: 'Droid Sans', "Lucida Grande", "Lucida Sans Unicode", Lucida, Arial, Helvetica, sans-serif;
	margin-top: 5px;
	margin-bottom: 5px;
	display: block;
}
#page-content .middle .list li {
	float: left;
	width: 245px;
	height: 85px;
	margin-right: 5px;
	margin-bottom: 30px;
	padding: 12px 0px 12px 67px;
}
#page-content .middle .list {
	margin-top: 25px;
	list-style-type: none;
	height: 290px;
	margin-left: 0;
	position: absolute;
	left: 13px;
	top: 50px;
}
#page-content .middle .download-count {
	position: absolute;
	text-align: right;
	top: 27px;
	right: 32px;
	width: 300px;
	font-family: 'Droid Sans', "Lucida Grande", "Lucida Sans Unicode", Lucida, Arial, Helvetica, sans-serif;
	font-size: 1.8em;
	color: #4C7F7F;
}

#page-content .middle {
	width: 963px;
	background-color: #F9F9F0;
	border: 1px solid #e5e5e5;
	position: relative;
	height: 400px;
}
#page-content .bottom .fork {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 104px;
	height: 104px;
}
#page-content .bottom .list li .icon {
	display: block;
	float: left;
	margin-left: -50px;
	margin-top: -5px;
}
#page-content .bottom .list li .title {
	color: #FFFFFF;
	font-family: 'Droid Sans', "Lucida Grande", "Lucida Sans Unicode", Lucida, Arial, Helvetica, sans-serif;
	font-size: 1.3em;
}
#page-content .bottom .list li .desc {
	color: #FFFFFF;
	line-height: 18px;
	font-size: 0.9em;
}
#page-content .bottom .list li {
	width: 140px;
	float: left;
	margin-right: 5px;
	padding: 12px 0px 12px 70px;
}
#page-content .bottom .list {
	position: absolute;
	list-style-type: none;
	margin-left: 0;
	left: 50px;
	top: 60px;
}

#page-content .bottom .newsletter {
    position: absolute;
    top: 30px;
    left: 720px;
}

#page-content .bottom .newsletter .title {
    color: #fff;
    font-size: 1.15em;
    font-weight: bold;
}

#page-content .bottom .header {
	font-size: 2.3em;
	top: 20px;
	font-family: 'Droid Sans', "Lucida Grande", "Lucida Sans Unicode", Lucida, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	left: 110px;
	position: absolute;
}
#page-content .bottom {
	width: 965px;
	height: 220px;
	position: relative;
	background-color: #406C6C;

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#406C6C', endColorstr='#305050'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#406C6C), to(#305050)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #406C6C,  #305050); /* for firefox 3.6+ */

	border-bottom: 1px solid #202020;
}

#home-page {
	width: 967px;
	margin: 0 auto 25px auto;
}

#home-page .buttons ul.dropdown-menu a:hover {
	background-color: #51A351;
}




/* ****************
 * WHOS USING PPI *
 * ****************/

.whos-using-ppi {
	margin-bottom: 12px;
	margin-top: 12px;
	width: 951px;
	background-color: #F9F9F0;
	border: 1px solid #e5e5e5;
	position: relative;
	height: 80px;
	padding-top: 12px;
	padding-left: 12px;
}

.whos-using-ppi ul {
	margin-left: 0;
}

.whos-using-ppi li:first-child {
	margin-left: 0
}
.whos-using-ppi li {
	float: left;
	list-style-type: none;
	margin-left: 12px;
}

.whos-using-ppi .heading {
	font-size: 2.0em;
	font-family: 'Droid Sans', "Lucida Grande", "Lucida Sans Unicode", Lucida, Arial, Helvetica, sans-serif;
	left: 23px;
	color: #4C7F7F;
	margin-bottom: 12px;
}

.whos-using-ppi img {
	filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
    opacity:0.4;
}

.whos-using-ppi img:hover{
	filter: none;
    -webkit-filter: grayscale(0);
     -webkit-animation: who-opac 1s forwards;
     -moz-animation:    who-opac 1s forwards;
     -ms-animation:     who-opac 1s forwards;
     -o-animation:      who-opac 1s forwards;
}

@-webkit-keyframes who-opac {
	0%   { opacity:0.4; }
	100% { opacity: 1; }
}
@-moz-keyframes who-opac {
	0%   { opacity:0.4; }
	100% { opacity: 1; }
}
@-ms-keyframes who-opac {
	0%   { opacity:0.4; }
	100% { opacity: 1; }
}
@-o-keyframes who-opac {
	0%   { opacity:0.4; }
	100% { opacity: 1; }
}