
.clear { clear: both; }

@font-face {
	font-family: '';
	src: url('fonts/Museo_Slab_500.ttf') format('truetype');
}

/* Font Face */
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(http://themes.googleusercontent.com/static/fonts/droidsans/v3/s-BiyweUPV0v-yRb-cjciL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/droidsans/v3/EFpQQyG9GqCrobXxL-KRMXbFhgvWbfSbdVg11QabG8w.woff) format('woff');
}


@font-face {
	font-family: "Museo_Slab_500";
	src: url('../fonts/Museo_Slab_500-webfont.eot?'); /* IE9 */
 	src: url('../fonts/Museo_Slab_500-webfont.eot?') format('eot'), /* IE6-8 */
 	     url('../fonts/Museo_Slab_500-webfont.woff') format('woff'), /* Modern browsers */
	     url('../fonts/Museo_Slab_500-webfont.ttf') format('truetype'), /* Older Webkits */
	     url('../fonts/Museo_Slab_500-webfont.svg#webfont') format('svg'); /* Opera */
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: "Bebas Neue";
	src: url('../fonts/BebasNeue-webfont.eot?'); /* IE9 */
 	src: url('../fonts/BebasNeue-webfont.eot?') format('eot'), /* IE6-8 */
 	     url('../fonts/BebasNeue-webfont.woff') format('woff'), /* Modern browsers */
	     url('../fonts/BebasNeue-webfont.ttf') format('truetype'), /* Older Webkits */
	     url('../fonts/BebasNeue-webfont.svg#webfont') format('svg'); /* Opera */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FertigoProRegular';
	src: url('../fonts/fertigo-pro-webfont.eot');
	src: url('../fonts/fertigo-pro-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/fertigo-pro-webfont.woff') format('woff'),
		 url('../fonts/fertigo-pro-webfont.ttf') format('truetype'),
		 url('../fonts/fertigo-pro-webfont.svg#FertigoProRegular') format('svg');
	font-weight: normal;
	font-style: normal;

}

body a {
	color: #406C6C;
}

button, a, p {
 font-family: 'Droid Sans', "Lucida Grande", "Lucida Sans Unicode", Lucida, Arial, Helvetica, sans-serif;
}

#wrapper {
    margin: 0 auto;
    width: 960px;
}

body {
    background: url(../images/bg.png);
}

#header {
	width: 1024px;
	margin: 0 auto;
}

#header .navbar-inner .container {
	width: 985px;
	margin: 0 auto;
	position: relative;
}

#header #header-inner .logo {
	display: block;
	width: 50px;
	margin-top: 2px;
	position: absolute;
	left: 0;
	top: 0;
}

#header .container .nav li a[title="Community"] {
	width: 70px;
}
#header .container .nav li a[title="Projects"] {
	width: 50px;	
}

#header .container {
	width: !important;
	margin-left: 20px;
}

#header div.navbar-inner {
	background-color: #406C6C;
	background-image: none;

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#406c6c', endColorstr='#284545'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#406c6c), to(#284545)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #406c6c,  #284545); /* for firefox 3.6+ */
	border-bottom: 1px solid #000;
}

#header .dropdown-menu {
	margin-top: 1px;
	background-color: #406C6C;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#406c6c', endColorstr='#284545'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#406c6c), to(#284545)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #406c6c,  #284545); /* for firefox 3.6+ */
	border-bottom: 1px solid #000;
}

#header a {
	padding-bottom: 4px;
	padding-top: 17px;
	text-shadow: none;
	height: 30px;
	color: white;
	font-family: 'Droid Sans', "Lucida Grande", "Lucida Sans Unicode", Lucida, Arial, Helvetica, sans-serif;
}

#header .dropdown-menu li a:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#192b2b', endColorstr='#0d1616'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#192b2b), to(#0d1616)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #192b2b,  #0d1616); /* for firefox 3.6+ */
}

#header #header-inner {
	width: 1024px;
	height: 40px;
	position: relative;
	margin: 0 auto;
}

#header .nav li a:hover {
	color: white;
	background-color: #345958;
	text-decoration: none;
}

div.navbar .nav .active > a, div.navbar .nav .active > a:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#284545', endColorstr='#406c6c'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#284545), to(#406c6c)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #284545,  #406c6c); /* for firefox 3.6+ */
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
	background-color: #345958;
}

.navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
	border-top-color: white;
	border-bottom-color: white;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret {
	border-top-color: white;
	border-bottom-color: white;
}

#header .dropdown-menu a {
	height: 14px;
	padding-top: 7px;
	padding-bottom: 11px;
}

#header .search input {
	width: 281px;
	height: 25px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a7d7d', endColorstr='#589595'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#4a7d7d), to(#589595)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #4a7d7d,  #589595); /* for firefox 3.6+ */
    color: #fff;
    padding: 0; margin: 0;
	
	        border-radius: 0;
	   -moz-border-radius: 0;
	-webkit-border-radius: 0;
}

#header .logo-item img {
	width: 60px;
}

#header .logo-item a {
	padding: 0;
	height: 35px;
}

#header .logo-item {
	margin-right: 6px;
	margin-left: 6px;
	padding: 7px 0 0 0px;
}

#header .nav {
	width: 700px;
	left: 15px;
}

#header div.inside {
    margin: 0 auto;
    width: 960px;
}

#header .search form input.placeholder { 
	color: white;
}

#header .search form input {
	color: white;
	padding-left: 5px;
}

#header .search form {
	margin: 0;
}

#header .search {
	margin-left: 0;
	width: 300px;
	position: absolute;
	bottom: 6px;
	right: 164px;
}

#page-content {
	padding-top: 60px;
	margin: 0 auto;
}

footer a {
	color: #E5E5DD;
}
footer .links a:hover {
	color: white;
}
footer .links a {
	margin-right: 12px;
}
footer .content {
	margin-left: 12px;
}
footer .links {
	float: left;
}
footer .desc {
	color: #E5E5DD;
	margin-top: 5px;
}
footer .logo {
	float: left;
}

footer {
	padding-left: 30px;
	padding-top: 16px;
	height: 60px;
	margin: 0;
	border-top: 1px solid #757575;
	background-color: #626262;

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#626262', endColorstr='#3e3e3e'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#626262), to(#3e3e3e)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #626262,  #3e3e3e); /* for firefox 3.6+ */

	border-bottom: 1px solid #000;

    z-index: 10000;
}

input::-webkit-input-placeholder { color: white; }
input:-moz-placeholder { color: white; }


.autocomplete-w1 { top: -6px; left: -7px; }

.ui-loader { display: none; }


.btn-green {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #406C6C;
	*background-color: #406C6C;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6BB2B2), to(#406C6C));
	background-image: -webkit-linear-gradient(top, #6BB2B2, #406C6C);
	background-image: -o-linear-gradient(top, #6BB2B2, #406C6C);
	background-image: linear-gradient(to bottom, #6BB2B2, #406C6C);
	background-image: -moz-linear-gradient(top, #6BB2B2, #406C6C);
	background-repeat: repeat-x;
	border-color: #406C6C #406C6C #387038;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff6BB2B2', endColorstr='#ff406C6C', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-green:hover,
.btn-green:active,
.btn-green.active,
.btn-green.disabled,
.btn-green[disabled] {
  color: #ffffff;
  background-color: #406C6C;
  *background-color: #406C6C;
}

.btn-green:active,
.btn-green.active {
  background-color: #406C6C;
}

div.btn-group.open .btn.dropdown-toggle {
	background-color: #51a351;
}

ul.dropdown-menu li > a:hover,
ul.dropdown-menu .active > a:hover {
	background-color: #51A351;
	background-image: none;
}

/* Disable iOS/WinMobile font size changes */
@media screen and (max-width: 600px), screen and (max-device-width: 480px) {
    html {
        -ms-text-size-adjust:     none;
        -webkit-text-size-adjust: none;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .container, #header, #header .navbar-inner .container {width: 100%; }
}